.ava {
	width: 50px;
}

.ava img {
	width: 50px;
	height: 50px;
	border-radius: 30px;
}

.selectedPage {
	font-weight: bold;
}

.paginator {
	margin: 10px
}

.pageNumber{
	padding: 2px;
	border: 1px sollid grey;
}


.pageNumber.selectedPage {
	font-weight: bold;
	border-color: black;
}