
.nav {
	grid-area: n;
	background-color: navajowhite;
	padding: 20px;
	
}

.item {
	text-decoration: none;
	color: white;
	
}

.active{
	color: red;
	text-decoration: none;
	background-color: black;
}

