.app-wrapper {
	display: grid;
	margin: 0 auto;
	max-width:  800px;

	grid-template-areas: 
	"h h"
	"n c";

	grid-template-rows: 90px 1fr;
	grid-template-columns: 2fr 10fr;
	/* grid-gap: 10px; */
}

.app-wrapper-content {
	max-width:  800px;
	grid-area: c;
	background-color:cornflowerblue;
	
}

